version: '3.8'

services:
  backend:
    build: ./
    container_name: backend
    restart: always
    env_file:
      - .env
    ports:
      - '3000:3000'

  fronted:
    build: ./client
    container_name: fronted
    restart: always
    env_file:
      - .env
    ports:
      - '5173:5173'
    depends_on:
      - backend
